<div *ngFor="let cafe of cafes" class="main-block users-list-block">
    <h3>{{ cafe.shorName }}</h3>
    <hr>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Роль</th>
            <th scope="col">Почта</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let person of cafe.staffs">
            <th scope="row">1</th>
            <th scope="row">{{ person.name }}</th>
            <td scope="row">{{ person.surname }}</td>
            <td scope="row">{{ person.role }}</td>
            <td scope="row">{{ person.email }}</td>
        </tr>
        </tbody>
    </table>
</div>
